@media only screen and (min-width: 768px) {

  .itemList {
    display: flex;
    justify-content: space-evenly;
  }
}

body {
  font-family: Helvetica;

}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-weight: bold;
}

.item {
  flex-basis: 27%;
  border: 1px dotted black;
  background-color: white;
}

.itemHeader {
  text-align: center;
}

.price {
  font-weight: bold;
  color: blue;
}


#brushHeader {
  background-color: mediumspringgreen;
}

#framesHeader {
  background-color: lightcoral;
}

#paintHeader {
  background-color: skyblue;
}
