body {
  font-family: Helvetica;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;

}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-weight: bold;
}

.itemList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item {
  border: 0.1px dotted black;
  padding: 10px;
  width: 30%;
}

.itemHeader {
  text-align: center;
}

.price {
  font-weight: bold;
  color: blue;
}

#brushHeader {
  background-color: mediumspringgreen;
}

#framesHeader {
  background-color: lightcoral;
}

#paintHeader {
  background-color: skyblue;
}
